.section1 .values1 img{
    width: 25vw;
}
.wrap3-img1 img {
    width:80%;
}
.wrap2-top .icon {
    margin-top: 60px;
}
.index-p3-ul {
    margin-top: 1vw;
}
.index-p3-ul li{
    margin-top: 1vw;
}
.wrap2-top .index-p3-ul{
    display: none;
}
.busi-after .icon {
    margin-top: 60px;
}
.busi-after .title img{
	width: 50%;
}
.busi-for .icon2 img,.busi-after2 .icon2 img{
	width: 16%;
}
.wrap2-top .icon,.busi-after2 .icon {
	margin-top: 26px;
}
.index-p3-ul li img{
	width: 15%;
}
.index-p3-ul li{
	font-size: 12px;
}
.wrap3-img2 img{
	width: 60%;
}
.wrap3-img1 p{
	font-size: 28px;
}
.wrap3-img1 .wrap3-i{
	font-size: 14px;
}
.sec4-con{
    width: 1200px;
    height: 42vw;
    position: relative;
}
.sec4-p img{
	width: 40%;
}
.pc-slide-views .swiper-slide img{
	width: 100%;
	height: 343px;
};