.section1 .values1 img{
    width: 75vw;
}
.section2{
    display: block;
}

.wrap2-top .index-p3-ul{
    display: block;
    margin-top: 5vw;
}
.section2 .value{
    width: 95%;
    height: calc(100%/3);
    margin: 0 auto;
}
.index-p3-ul img {
    display: block;
    margin: 0 auto;
    width: 17%;
    margin-bottom: 6px;
}
.section2 a{
  display: block;
}
.wrap2-top .index-p3-ul li {
    color: #b49a64;
    font-size: 14px;
    margin-top: 4vw;
}
.index-p3-ul span{
  font-weight: lighter;
}
.wrap2-top .title img{
  width: 52vw;
}
.wrap2-top .icon img{
  display: none;
}
.wrap2-top .icon2 img {
    display: block;
    text-align: center;
    /* vertical-align: middle; */
    width: 40%;
    margin: 0px auto;
    margin-top: 18px;
}
.wrap2-top{
    float: left;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.busi-after{
	/* display: block !important; */
}
.busi-after .title img{
	width: 52%;
}
.busi-after p img{
	width: 20%;
}
.wrap2-bot{
  display: none;
}
.wrap2-h{
	height: 100%;
  margin: 5px;
}
.product-nav{
	display: none;
}
.pro-tab-con img{
	display: none;
}
.padd-lr-40{
	padding: 10px;
}
.product-logo img {
    width: 20vw;
}
.wrap3-con{
	width: 100%;
}
.wrap3-img1 img{
	width: 100%;
}
.wrap3-img1{
	width: 100%;
}
.wrap3-img2 img{
  width: 50%;
}
.wrap3-img1 {
    position: absolute;
    left: auto !important;
    margin-left: auto !important;
    z-index: 999;
    top: 40%;
}
.sec4-page{
  display: none !important;
}
.sec4-con{
  height: auto;
}
.sec4-img{
  width: 100% !important;
  height: auto !important;
}
.sec4-img .swiper-slide{
  width: 100% !important;
}
.sec4-img .swiper-slide img{
  width: 100% !important;
}
.sec4-p img{
  width: 90%;
}
.sec5-img{
  display: none;
}
.sec5-icon .p1{
  font-size: 16px;
}
.sec5-icon .p2{
  font-size: 24px;
}
.sec5-code2 img{
  width: 60%;
  height: 60%;
}
.width-300{
  font-size: 14px;
}
.btn-pre{
	background: #c8c8c8;
    padding: 8px 0;
    box-sizing: border-box;
    color: white;
    margin-bottom: 10px;
}
.btn-next{
	background: #bca474;
    padding: 8px 0;
    color: white;
    box-sizing: border-box;
}
.pro-bot-icon img{
	display: none;
}
.bot-code{
	text-align: center!important;
	margin-top: 20px;
}
.bot-font p{
	text-align: center;
}
.pro-tab-ul p{
	text-align: center;
	margin: 12px 0 25px 0px;
}
.pro-tab-ul{
	margin-left: 0px;
}
.pro-tab-ul ul li{
	text-align: center;
	margin: 2px 0;
}
.pro-tab-ul ul li a{
	font-size: 14px;
}
.pro-tab-nr2{
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #3e4a53;
	margin-top: 10px;
}
.pro-tab-con a p{
	margin-top: 0;
}
.pro-tab-nr .value {
    padding-bottom: 10px;
}

.view .swiper-container { height: 210px !important;width: 100%; }
.view .swiper-container img{width: 100%;}
.preview .arrow {
    position: absolute;
    top: 50%;
    margin-top: -38px;
    width: 28px;
    height: 28px;
    z-index: 10;
}
.cul-banner-img{
	width: 100%;
    height: 180px;
    background: url(../images/brand-banner.jpg) no-repeat -154px;
    background-size: cover;
    margin-top: -4px;
    overflow: hidden;
}
.cul-part-img1 img{
	width: 100%;
}
.mar-top-48{
	margin-top: 10px;
}
.mar-top-30{
	margin-top: 0px !important;
}
.sec4-lunbo {
    position: relative;
    width: 100%;
    height: 64vw;
}
.cul-p1 {
	text-align: center;
	width: 100%;
	margin-left: 0;
    letter-spacing: 4px;
	padding-bottom: 20px;
}
.cul-h-img1 img {
    width: 100%;
    margin-top: 28px;
}
.cul-font2 {
    letter-spacing: 3px;
}
.cul-h-img2 img{
	margin-top: 60px;
    width: 100%;
}
.cul-part2-img1{
	height: auto;
}
.inst-pad-22 {
    padding: 10px 15px;
}
.inst-pad-22 img{
	display: none;
}
.inst-tit{
	padding: 0 10px;
	line-height: 30px;
}
.ins-con1-title img{
	display: none;
}
.ins-cont1 {
    width: 100%;
    height:auto;
    background: none!important;
    background-size: cover;
}
.font-28{
	font-size: 18px;
}
.font-16{
	font-size: 8px;
}
.ins-con1-tit2 {
	padding: 4px 0 0 10px;
    box-sizing: border-box;
}
.ins-con1-tit2 i{
	vertical-align: 10px;
}