<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name=”keywords”content="宽度家居,宽度,家居,四件套” />
		<meta name=”decoration”content="宽度家居,宽度,家居,四件套” />
		<meta name="title" content="宽度家居" />
		<title>宽度家居——产品详情</title>
		<link rel="icon" href="./favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=320,maximum-scale=1.3,user-scalable=no">
		<link rel="stylesheet" href="css/normal.css" />
		<link rel="stylesheet" type="text/css" href="css/small.css" media="screen and (max-width:319px)"/>
		<link rel="stylesheet" type="text/css" href="css/small.css" media="screen and (min-width:320px) and (max-width:767px)"/>
		<link rel="stylesheet" type="text/css" href="css/medium.css"   media="screen and (min-width:768px) and (max-width:1023px)"/>
		<link rel="stylesheet" type="text/css" href="css/big.css"  media="screen and (min-width:1024px)"/>
		<link rel="stylesheet" type="text/css" href="css/nav.css"/>
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<link rel="stylesheet" href="css/swiper.css" />
		<script src="js/swiper.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<!-- VUE -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body style="margin: 0;">
		<!----------- 右上角导航开始 ------------>
		<div class="nav-show">
		    <a href="#" class="open-bot no-href" id="dh" title="展开导航">展开导航</a>
		</div>
		<div class="p1-b">
		    <div class="arr">
		        <div class="arr2">
		            <a href="#page2">
		                <img src="images/jt.png">
		            </a>
		        </div>
		    </div>
		</div>
		<!-- 导航 -->
		<div class="overlay overlay-scale">
			<button type="button" class="overlay-close">关闭</button>
			<nav>
				<ul>
					<li><a href="index.html" target="_self">网站首页<br><span>HOME</span><div class="bj"></div></a></li>
					<li><a href="our-products.html" target="_self">产品列表<br><span>OUR PRODUCTS</span><div class="bj"></div></a></li>
					<li><a href="culture.html" target="_self">品牌文化<br><span>BRAND CULTURE</span><div class="bj"></div></a></li>
					<li><a href="institution.html" target="_self">企事业单位定制<br><span>ENTERPRISE CUSTOM</span><div class="bj"></div></a></li>
					<li><a href="contact.html" target="_self">联系我们<br><span>CONTACT US</span><div class="bj"></div></a></li>
				</ul>
			</nav>
			<div class="hs-service-bg"></div>
		</div>
		<!----------- 右上角导航结束 ------------>
		<!-------------- logo开始 ------------------>
		<div class="width-100 text-center product-logo">
			<img src="images/product-logo.png" />
		</div>
		<div class="clearfix"></div>

		<!-------------- logo结束 ------------------>
		<div class="product-nav width-100">
			<div class="wrapper-878 pro-wrapper-nav">
				<ul>
					<li><a href="index.html">首页</a></li>
					<li class="nav-li-hover"><a href="our-products.html">产品列表</a></li>
					<li><a href="culture.html">品牌文化</a></li>
					<li><a href="institution.html">企事业单位</a></li>
					<li><a href="contact.html">联系我们</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div id="app">
		<div class="container mar-top-30">
			<div class="row bg-gray">
				<p class="col-sm-12">产品列表 - {{product.series.parent.name}} - {{product.series.name}}</p>
			</div>
			<div class="row mar-top-30">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="pc-slide pc-slide-views">
						<div class="view pc-slide-views" style="">
							<div class="swiper-container">
								<a class="arrow arrow-left" href="#"></a>
								<a class="arrow arrow-right" href="#"></a>
								<div class="swiper-wrapper">
									<div class="swiper-slide" v-for="item in product.gallery" :key="item">
										<a target="_blank"><img :src="item" alt=""></a>
									</div>
								</div>
							</div>
						</div>
						<div class="preview">
							<a class="arrow arrow-left" href="#"></a>
							<a class="arrow arrow-right" href="#"></a>
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div v-for="(item,index) in product.gallery" :key="item" class="swiper-slide" :class="{' active-nav':index==0}">
										<img :src="item" alt="">
									</div>
									<!--<div class="swiper-slide">
										<img src="images/detail-img2.png" alt="">
									</div>
									<div class="swiper-slide">
										<img src="images/detail-img1.png" alt="">
									</div>
									<div class="swiper-slide">
										<img src="images/detail-img2.png" alt="">
									</div>
									<div class="swiper-slide">
										<img src="images/detail-img1.png" alt="">
									</div>-->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 右边 -->
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="e_box">
						<div class="p_content">
							<div class="e_box ">
								<h1 class="d_Title">
									<div class="font-24">
										{{ product.name }}
									</div>
								</h1>
							</div>
							<div class="xiangxi">
								<div class="reset_style">
									<div>
										{{product.brief}}
									</div>
									<div>
										<ul style="list-style-type: disc;">
											<li v-for="item in product.keywords" key="item">{{ item }}</li>
										</ul>
									</div>
								</div>
							</div>
							<a class="lianxi" :href="product.buyLink">去购买</a>
						</div>
					</div>
				</div>
				<!-- 右边结束 -->
			</div>
			<div class="row des-img">
				<div v-html="product.detail"></div>
			</div>
		</div>

		<!---------- 底部 -------------->
		<div class="pro-bottom width-100">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-md-3 col-lg-3 bot-list">
						<div class="pro-bot-icon value">
							<img src="images/bot-img1.png" />
						</div>
						<div class="bot-font value">
							<p class="font-14">联系电话</p>
							<div class="font-24">{{ footer.tel }}</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 bot-list">
						<div class="pro-bot-icon value">
							<img src="images/bot-img2.png" />
						</div>
						<div class="bot-font value">
							<p class="font-14">电子邮箱</p>
							<div class="font-24">{{ footer.email }}</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 bot-list">
						<div class="pro-bot-icon value">
							<img src="images/bot-img3.png" />
						</div>
						<div class="bot-font value">
							<p class="font-14">地址</p>
							<div class="font-16">{{ footer.address }}</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 bot-code">
						<img src="images/bot-code.png" :src="footer.qrCode" />
					</div>
				</div>
			</div>
		</div>

		</div>

		<script type="text/javascript">
			(function() {
				var triggerBttn = document.getElementById('dh'),
					overlay = document.querySelector('div.overlay'),
					closeBttn = overlay.querySelector('button.overlay-close');
				transEndEventNames = {
						'WebkitTransition': 'webkitTransitionEnd',
						'MozTransition': 'transitionend',
						'OTransition': 'oTransitionEnd',
						'msTransition': 'MSTransitionEnd',
						'transition': 'transitionend'
					},
					transEndEventName = transEndEventNames[Modernizr.prefixed('transition')],
					support = {
						transitions: Modernizr.csstransitions
					};

				function toggleOverlay() {
					if (classie.has(overlay, 'open')) {
						classie.remove(overlay, 'open');
						classie.add(overlay, 'close');
						var onEndTransitionFn = function(ev) {
							if (support.transitions) {
								if (ev.propertyName !== 'visibility') return;
								this.removeEventListener(transEndEventName, onEndTransitionFn);
							}
							classie.remove(overlay, 'close');
						};
						if (support.transitions) {
							overlay.addEventListener(transEndEventName, onEndTransitionFn);
						} else {
							onEndTransitionFn();
						}
					} else if (!classie.has(overlay, 'close')) {
						classie.add(overlay, 'open');
					}
				}

				triggerBttn.addEventListener('click', toggleOverlay);
				closeBttn.addEventListener('click', toggleOverlay);
			})();

		</script>
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript">
			$(function(){
				var viewSwiper = new Swiper('.view .swiper-container', {
					autoplay: {
						delay: 4500,
						disableOnInteraction: false,
					},
					on:{
						slideChangeTransitionStart: function() {
							updateNavPosition()
						}
					},
					observer:true,//修改swiper自己或子元素时，自动初始化swiper
					observeParents:true//修改swiper的父元素时，自动初始化swiper
				});

				$('.view .arrow-left,.preview .arrow-left').on('click', function(e) {
					e.preventDefault();
					if (viewSwiper.activeIndex == 0) {
						viewSwiper.slideTo(viewSwiper.slides.length - 1, 1000);
						return
					}
					viewSwiper.slidePrev()
				});
				$('.view .arrow-right,.preview .arrow-right').on('click', function(e) {
					e.preventDefault();
					if (viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
						viewSwiper.slideTo(0, 1000);
						return
					}
					viewSwiper.slideNext()
				});

				var previewSwiper = new Swiper('.preview .swiper-container', {
					//visibilityFullFit: true,
					slidesPerView: '3.7',
					allowTouchMove: false,
					on:{
						tap: function() {
							viewSwiper.slideTo(previewSwiper.clickedIndex)
						}
					}
				});

				function updateNavPosition() {
					$('.preview .active-nav').removeClass('active-nav');
					var activeNav = $('.preview .swiper-slide').eq(viewSwiper.activeIndex).addClass('active-nav');
					if (!activeNav.hasClass('swiper-slide-visible')) {
						if (activeNav.index() > previewSwiper.activeIndex) {
							var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1;
							previewSwiper.slideTo(activeNav.index() - thumbsPerNav)
						} else {
							previewSwiper.slideTo(activeNav.index())
						}
					}
				}
			})
		</script>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					product: {
						name: '',
						gallery: '',
						keywords: '',
						brief: '',
						picUrl: '',
						detail: '',
						buyLink: '',
						series:{ name: '',parent:{}}
					},
					footer: {
						tel: '',
						email: '',
						address: '',
						qrCode: ''
					}
				},
				created () {
					this.fetchFooter()
                    this.fetchProduct(this.getQueryString("id"))
				},
				methods: {
					fetchProduct (id) {
						let url = "https://www.kuanduhome.com/api/kudo/product/"+id
						axios.get(url, {
							headers: {
								'Content-Type': 'application/json',
								'Accept': 'application/json'
							}
						}).then((response) => {
							var jsonObject = response.data;
							this.product = jsonObject.data
						}).catch(function (error) {
							console.log(error);
						});
					},
					fetchFooter() {
						let url = "https://www.kuanduhome.com/api/kudo/footer/"
						axios.get(url, {
							headers: {
								'Content-Type': 'application/json',
								'Accept': 'application/json'
							}
						}).then((response) => {
							var jsonObject = response.data;
							this.footer = jsonObject.data
						}).catch(function (error) {
							console.log(error);
						});
					},
					getQueryString(name) {
						let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
						let r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
						if(r!=null)return  unescape(r[2]); return null;
					}
				}
			})
		</script>
	</body>
</html>
